/* 15. FAQ
===========================*/
.faq {
  width: 600px;
  margin: 30px auto;
}
.faq-title {
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #222;
  border-bottom: 1px solid #080808;
}
.faq-title:hover {
  background-color: #484848;
}
.faq-content {
  padding: 5px 10px;
  font-size: 15px;
  display: none;
}
